.profile-img{
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.a-profile{
    padding: 10px;
}

.profile-button{
    --color: #444;
    --background: #ffffff;
    --border-color: #b2b2b2;
    width: 90%;
    padding-left: 0px;
}

ion-button{
    --color: #444;
    ion-icon{
        font-size: 30px
    }
}


::ng-deep .alert-button-group{
        display: flex !important;
        flex-direction: row !important;
}

.secondary {
    background-color: red;
}


