<ion-header>
    <ion-toolbar class = "static-toolbar">
      <ion-title>Telif Hakları</ion-title>
      <ion-buttons slot = "start" class="Boton">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding="true" class="static-bg" fullscreen="true">
    <ion-content style="--padding-top: 0px; --background: transparent;">
        <div class="content-padding">
            <p>Sporcu Sağlığı Bilgi Sistemi T.C. Sağlık Bakanlığının vatandaşlarımıza sunduğu ücretsiz bir bilgilendirme
                hizmetidir.</p>
            <p>Sporcu Sağlığı Bilgi Sistemi’nin tasarımını oluşturan materyaller, teknolojiler, sunduğu bilgiler ve
                bunların kullanımı, referans verilmesi, alıntı yapılması ve üzerinde değişiklik yapılarak kullanılması
                ile ilgili lisans ve telif hakları T.C. Sağlık Bakanlığına aittir. Hiçbir organizasyon ya da kişi,
                Sporcu Sağlığı Bilgi Sistemi’nde kullanılmış, sunulmuş veya kullanılan, sunulan parçaların ya da
                tamamının T.C. Sağlık Bakanlığından yazılı izin alınmadığı müddetçe dağıtamaz, kiralayamaz, çoğaltamaz,
                alt lisans kullandıramaz, değiştiremez ticari ya da ticari olmayan amaçlarla kullanamaz. Yapılacak
                alıntılara T.C. Sağlık Bakanlığının kaynak gösterilmesi koşuluyla müsaade edilebilir. </p>
            <p>T.C. Sağlık Bakanlığı, Sporcu Sağlığı Bilgi Sistemi’nde yayımlanan hizmetler ve bu hizmetleri oluşturan
                uygulamalar, web servisler, sayfalar, bilgiler, görsel ve yazınsal içerikler üzerinden değişiklik yapma
                ve teknik sorunlardan ötürü, hizmetleri geçici olarak durdurma hakkına sahiptir.</p>
        </div>
    </ion-content>
</ion-content>
