<ion-header>
    <ion-toolbar>
      <ion-title>Şifremi Unuttum</ion-title>
      <ion-buttons slot = "end" class="Boton">
        <ion-button (click) = "close()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding = "true">
    <ion-item lines = "none">
      <ion-label>
        <h3 class = "title-header">Kullanım Koşulları</h3>
        <p>Sporcu Sağlığı Bilgi Sistemi T.C. Sağlık Bakanlığının vatandaşlarımıza sunduğu ücretsiz bir bilgilendirme hizmetidir. Sistemde yer alan bilgilerin kullanımından doğacak tüm sorumluluk kişinin kendisine aittir.</p>
            <p>Sistemdeki bilgiler, e-Nabız sisteminden alınan sporcuya ait sağlık verileri ve ilaç bilgileri ilaç bilgi sisteminden sağlandığından, bilgilerin kesin ve güncel olma durumundan,</p>
            <p>Bir madde ya da yöntem ile ilgili bilgilerin değiştiği ve bunların veri tabanında güncellendiği zaman arasındaki gecikmelerden,</p>
            <p>Yeni maddelerin, markaların ve/veya marka formüllerinin mevcut olduğu ve bunların veri tabanına alındığı zaman arasındaki gecikmelerden,</p>
            <p>Kişinin sistemi kullanırken yapacağı hatalardan,</p>
            <p>Sistemde yar alan öneri, uyarı, yönlendirme vb. unsurlara uyulmaması halindeki hata, kusur ve yetmezliklerden,</p>
            <p>Sporcu Sağlığı Bilgi Sistemi’nin kullanılması esnasında karşılaşılabilecek sistemsel hata ve/veya sistem bağlantı arızası sonucu görülebilecek doğrudan ya da dolaylı ziyan, zarar veya masraflar da dâhil hiçbir zarar ve ziyandan,</p>
            <p>T.C. Sağlık Bakanlığı ve/veya çalışanları, bu tip olasılıklardan haberdar olsun ya da olmasın, herhangi bir sorumluluğu bulunmamaktadır.</p>
      </ion-label>
    </ion-item>
    <ion-item lines = "none">
      <ion-label>     
        <h3 class = "title-header">Telif Hakları</h3>
        <p>Sporcu Sağlığı Bilgi Sistemi T.C. Sağlık Bakanlığının vatandaşlarımıza sunduğu ücretsiz bir bilgilendirme hizmetidir.</p>
        <p>Sporcu Sağlığı Bilgi Sistemi’nin tasarımını oluşturan materyaller, teknolojiler, sunduğu bilgiler ve bunların kullanımı, referans verilmesi, alıntı yapılması ve üzerinde değişiklik yapılarak kullanılması ile ilgili lisans ve telif hakları T.C. Sağlık Bakanlığına aittir. Hiçbir organizasyon ya da kişi, Sporcu Sağlığı Bilgi Sistemi’nde kullanılmış, sunulmuş veya kullanılan, sunulan parçaların ya da tamamının T.C. Sağlık Bakanlığından yazılı izin alınmadığı müddetçe dağıtamaz, kiralayamaz, çoğaltamaz, alt lisans kullandıramaz, değiştiremez ticari ya da ticari olmayan amaçlarla kullanamaz. Yapılacak alıntılara T.C. Sağlık Bakanlığının kaynak gösterilmesi koşuluyla müsaade edilebilir. </p>
        <p>T.C. Sağlık Bakanlığı, Sporcu Sağlığı Bilgi Sistemi’nde yayımlanan hizmetler ve bu hizmetleri oluşturan uygulamalar, web servisler, sayfalar, bilgiler, görsel ve yazınsal içerikler üzerinden değişiklik yapma ve teknik sorunlardan ötürü, hizmetleri geçici olarak durdurma hakkına sahiptir.</p>
      </ion-label>


    </ion-item>
    <ion-item button = "true" detail = "true" class = "background-input-wrapper text-center" lines = "none" (click) = "close()"
      style = "--detail-icon-opacity: 1; --detail-icon-font-size: 32px; margin-top: 10px;">
      <ion-label>
          Anladım
      </ion-label>
    </ion-item>
  </ion-content>