<ion-header>
    <ion-toolbar style="--background: transparent; --color: #ffffff">
      <ion-title>Yasaklı İlaçlar</ion-title>
      <ion-buttons slot = "start" class="Boton">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding="true" class="gradient-bg" fullscreen="true">
    <div class = "pattern-bg" style="padding: 0px;">
      <ion-item class="light text-center" style="--background: transparent;" lines = "none">
        <ion-label style="white-space: normal;">
            Aradığınız ilacın yasaklı ilaç listesinde olup olmadığını kontrol
                    etmek için 'İlaç ismi' alanına ilaç adını girerek sorgulama yapabilirsiniz
        </ion-label>
      </ion-item>
  
      <ion-item lines = "none" class="background-input-wrapper">
        <ion-icon name = "search"></ion-icon>
        <ion-input placeholder="İlaç ismi" [(ngModel)] = "search" (ionChange) = "changeValue()"></ion-input>
      </ion-item>
      <div *ngIf = "products.length > 0">
        <ion-item *ngFor = "let product of products" button = "true" detail = "true" (click) = "goProductDetails(product.id)"
        class="margin-item general-text" style = "--detail-icon-color: #387ef5; --detail-icon-opacity: 1; --detail-icon-font-size: 32px;">
          <ion-avatar>
            <ion-img src = "assets/img/hap.png"></ion-img>  
          </ion-avatar>
          <ion-label>{{product.name}}</ion-label>
        </ion-item>
      </div>
      <ion-item *ngIf = "showload==true" lines = "none" button = "true" style="padding-right: 16px;" class = "input-wrapper text-center button-fancy" (click) = "loadMore()">
        <ion-label>Daha fazla</ion-label>
      </ion-item>
    </div>
  </ion-content>