ion-input{
    --background: transparent;
    --color: #ffffff;
    --placeholder-color: #ffffff;
    text-align: center;
}


.button-wrapper{
    --background: #ffffff;
    --color: #387ef5;
    text-align: center;
}

.wrapper{
    --background: transparent;
}

   